.navbar{
display: flex;
}

.navbar-button{
    background-color: #142F0E;
    font-size: xx-large;
    font-family: 'Jomhuria', cursive;
    color: white;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
    border: none;
}