/* CSS da página toda para garantir que tudo fique centralizado */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
  }
  
  /* Centraliza as tabelas na div .stock */
  .stock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
 