.page-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    min-height: 32em;
}

.report-page .filters {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.report-page label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.report-page select,
.report-page input[type="number"] {
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.report-page button {
    padding: 8px 15px;
    background-color: #25591a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.report-page button:disabled {
    background-color: #999;
    cursor: not-allowed;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    color: #142F0E;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

tr:hover {
    background-color: #f1f1f1;
}
 th:nth-child(1),
td:nth-child(1) {
  width: 50px;
  max-width: 50px;
  min-width: 50px;
  text-align: center;
}
