@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

/* Estilização da top bar */
.topbar {
    display: flex;
    align-items: center;
    background: #142F0E;
    top: 0;
    width: 100%;
    z-index: 1000;
    
    justify-content: space-around;
}
  
.topbar-logo {
    height: 45px;
    margin-right: 20px;
    padding-left: 15px;
}
  
.topbar h1{
    font-weight: 400;
    font-size: xx-large;
    font-family: 'Jomhuria', cursive;
    color: #fff;
}