@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

.topbar {
    display: flex;
    align-items: center;
    background: #142F0E;
    width: 100%;
}
  
.topbar h1{
    font-weight: 400;
    font-size: xx-large;
    font-family: 'Jomhuria', cursive;
    color: #fff;
}
