#viewing-checkin{
    text-align: center ;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 420px;
    height: 260px;
    margin: 10px;
    border-radius: 2px;
    background: #FFFFFF;

}

#viewing-checkin h1{
    font-weight: 400;
    padding-top: 5px;
    background-color: #7B9666;
    font-size: 30px;
    font-family: 'Jomhuria', cursive;
    color: #FFFFFF;
    margin: 0px;
    border-radius: 2px 2px 0px 0px;
}

th {
    background-color: #FFFFFF;
    color: black;
    font-weight: bold;
}
