#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 1000;
    font-size: xx-large;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    border: none;
}

.navbar-logo {
    height: 45px;
}

.navbar-link {
    background: none;
    text-decoration: none;
    color: white;
    font-size: large;
    display: inline-block;
    transition: transform 0.2s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 10px;
    border: none;
}

.navbar-link:hover {
   transform: scale(1.1)
}

/*#navbar-map {
    padding: 10px 20px;
    margin: 10px;
    background-color: #142F0E;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    transition: transform 0.2s ease;
}

#navbar-map:hover {
   transform: scale(1.1)
}*/

