 /* Centraliza cada tabela */
 .table-container {
    margin: 20px 0;
    width: 80%; /* Define a largura da tabela */
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    background-color: #ffffff; /* Fundo branco estático */
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  /* Remove as cores alternadas nas linhas e o hover */
  tr {
    background-color: #ffffff; /* Garante que todas as linhas tenham fundo branco */
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  