.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.app-container > main, .app-container > .main-content, .app-container > .outlet-content {
    flex: 1 0 auto;
}
      